.main {
  padding: 20px;
  column-count: 5;
  column-gap: var(--gap-small);
  column-span: all;
  margin: 0 auto;
}

article {
  break-inside: avoid;
  page-break-inside: avoid;
}
.notFound {
  font-family: var(--font-family-base);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .main {
    column-count: 4;
  }
}

@media screen and (max-width: 1150px) {
  .main {
    column-count: 3;
  }

  .userDiv > .userImg{
    width: var(--avatar-small);
    height: var(--avatar-small);
  }

 article:hover .userDiv > .userImg {
    width: var(--avatar-medium);
    height: var(--avatar-medium);
  }
}

@media screen and (max-width: 700px) {
  .main {
    column-count: 2;
  }
}

@media screen and (max-width: 375px) {
  .main {
    column-count: 1;
  }
}
