.navLink {
  list-style: none;
  border-radius: var(--radius-md);
  height: var(--btn-height);
  width: var(--btn-width);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navLink > a {
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  font-size: var(--font-size-medium);
}

.inicio {
  background-color: var(--color-black);
}

.inicio > a {
  color: var(--color-white);
}
