*{
    margin: 0;
    padding: 0;
}
.userDiv{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 20px;
    gap: var(--gap-small);
}



.userDiv p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    width: 100%;
    font-size: var(--font-size-small);
}

.userDiv > .userImg{
    width: var(--avatar-medium);
    height: var(--avatar-medium);
    border-radius: var(--radius-circle);
    border: var(--border-user) solid;
}

.dateDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
}

.dateDiv > img {
    width: 20px;
    height: 20px;
}

