.itemStatDiv {
  opacity: 0;
  z-index: 5;
  background-color: var(--itemStat-bg);
  border-radius: var(--radius-md);
  gap: var(--gap-xsmall);
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemStatDiv > p{
    font-family: var(--font-family-base);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
}
