.searchBar {
  background: var(--searchBar-bg);
  padding: 33px 31px;
  border-radius: var(--radius-md);
  height: var(--btn-height);
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 19px;
  min-width: 150px;
}

.searchBar p {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-base);
  font-size: 32px;
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

input#search {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  min-width: 90px;
}

@media screen and (max-width: 375px) {
  .searchBar{
    padding: 15px 10px;
  }

  .searchBar p {
    width: 25px;
    height: 25px;
    font-size: 20px;
  }
}
