* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px;
  background-color: white;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo {
  height: 40px;
  width: 40px;
}

header ul {
  display: flex;
  align-items: center;
}

header .user {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  gap: 10px;
  background-color: rgba(229, 229, 229, 1);
  color: rgba(117, 117, 117, 1);
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}
