article {
  width: auto;
  height: fit-content;
  position: relative;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}

article > .imgCardDiv > .imgDiv {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  display: block;
}

article > .imgCardDiv:hover > .imgDiv{
  filter: brightness(60%);
}

article > .imgCardDiv:hover > a.visitButton{
  opacity: 1;
}

article > .imgCardDiv:hover + .userDiv > .userImg {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}
